<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ServiceCertificate" value="config/COServer.cer" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.serviceModel>
    <bindings>
      <customBinding>
        <binding name="CustomBinding_IPartSelectSVC">
          <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
            requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="true">
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <gzipMessageEncoding innerMessageEncoding="textMessageEncoding" />
          <httpTransport manualAddressing="false" maxReceivedMessageSize="2147483647"
            authenticationScheme="Anonymous" bypassProxyOnLocal="false"
            hostNameComparisonMode="StrongWildcard" proxyAuthenticationScheme="Anonymous"
            realm="" useDefaultWebProxy="true" />
        </binding>
        <binding name="CustomBinding_IPartSelectSVC1">
          <security defaultAlgorithmSuite="Default" authenticationMode="MutualCertificate"
            requireDerivedKeys="true" includeTimestamp="true" messageProtectionOrder="SignBeforeEncrypt"
            messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11BasicSecurityProfile10"
            requireSignatureConfirmation="true">
            <localClientSettings detectReplays="true" />
            <localServiceSettings detectReplays="true" />
          </security>
          <textMessageEncoding />
          <httpTransport />
        </binding>
      </customBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:55368/PartSelectSVC.svc"
        binding="customBinding" bindingConfiguration="CustomBinding_IPartSelectSVC"
        contract="PartSelectService.IPartSelectSVC" name="CustomBinding_IPartSelectSVC">
        <identity>
          <certificate encodedValue="MIIB8zCCAVygAwIBAgIQxnffJuImm49LSyhO/xQOZzANBgkqhkiG9w0BAQQFADATMREwDwYDVQQDEwhDT1NlcnZlcjAeFw0xOTA4MjIwMjAyMjVaFw0zOTEyMzEyMzU5NTlaMBMxETAPBgNVBAMTCENPU2VydmVyMIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCjl9w7KmOWDsUJZB2zM6FIA89NoGxlyw5XG+2BhMik3afJDQcmNU5KJajM5Gr72ba2Q9qDco1R07vk6qAkCQhNLnsknGb15P3RDa9HVPeNDOF6d3VwrU/eKDbaESHM/ckrfQI5Eil5+B/zF3qMQfYWfboXomRHBIul6Xg0l5DMEQIDAQABo0gwRjBEBgNVHQEEPTA7gBDR/BewqfuZeSG7nI7nWqu5oRUwEzERMA8GA1UEAxMIQ09TZXJ2ZXKCEMZ33ybiJpuPS0soTv8UDmcwDQYJKoZIhvcNAQEEBQADgYEAjxSOD4YTFq/tiqrRuEksSyUQn2TdCpXMmoJmjCqbluEcj2K8DHYb4o7AoCmCkv+JrX3vYagkvdNCLiS84mzdufiAZagMMDb/Cj4VsUYbikOxg6uFKUY5MhqWfmlM36mv33ouRpriNbULlgnHCZFw2BFUeMRmOMlDKwR/YPUk2Ew=" />
        </identity>
      </endpoint>
    </client>
    <!-- 扩展节点，配置消息压缩，解压缩 -->
    <extensions>
      <bindingElementExtensions>
        <add name="gzipMessageEncoding" type="GZipEncoder.GZipMessageEncodingElement, GZipEncoder, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
      </bindingElementExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="CurstomBehavior">
          <clientCredentials>
            <serviceCertificate>
              <authentication certificateValidationMode="Custom" customCertificateValidatorType="SecurityWcf.Core.ClientX509CertificateValidator, SecurityWcf.Core" />
            </serviceCertificate>
          </clientCredentials>
        </behavior>
      </endpointBehaviors>
    </behaviors>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>